@font-face {
  font-family: "iconfont"; /* Project id 3577925 */
  src: url('//at.alicdn.com/t/c/font_3577925_q6qeiwi0wmj.woff2?t=1665198512486') format('woff2'),
  url('//at.alicdn.com/t/c/font_3577925_q6qeiwi0wmj.woff?t=1665198512486') format('woff'),
  url('//at.alicdn.com/t/c/font_3577925_q6qeiwi0wmj.ttf?t=1665198512486') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiantiao:before {
  content: "\e701";
}

.icon-zuoduiqi:before {
  content: "\e719";
}

.icon-jiesuo:before {
  content: "\e651";
}

.icon-suoding:before {
  content: "\e639";
}

.icon-quanping:before {
  content: "\e670";
}

.icon-htmal5icon33:before {
  content: "\e645";
}

.icon-htmal5icon46:before {
  content: "\e649";
}

.icon-shanchu:before {
  content: "\e61c";
}

.icon-yincang:before {
  content: "\e677";
}

.icon-wenjianjia:before {
  content: "\e64b";
}

.icon-yanjing_xianshi:before {
  content: "\eb46";
}

.icon-xuanzeqizhankai_o:before {
  content: "\eb8d";
}

.icon-youjiantou:before {
  content: "\e61d";
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-daochutupian:before {
  content: "\e647";
}

.icon-shangchuantupian:before {
  content: "\e68e";
}

.icon-json:before {
  content: "\ea42";
}

.icon-baocun:before {
  content: "\e652";
}

.icon-lishi:before {
  content: "\e61a";
}

.icon-yulan:before {
  content: "\e6a9";
}
